<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': isDisplay ? 'block': 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete product?</p>

            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-danger" (click)="handlePopup()">
                    Close
                </button>
                <button type="button" class="btn btn-danger" (click)="handleDeleteConfirm()">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div> -->


<div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="handleDecline()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Are you sure you want to delete?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="handleDecline()">Close</button>
    <button type="button" class="btn btn-primary" (click)="handleDeleteConfirm()">Yes</button>
</div>