<div class="my-3 w-75 m-auto">
    <a [routerLink]="['/']">
        Go to Dashboard
    </a>
    <p class="text-center">Add product</p>

    <form class="" [formGroup]="checkoutForm" (ngSubmit)="onSubmit($event)" novalidate>
        <!-- default value [ngModel]="searchKeyword" -->
        <div class="mt-4">
            <input class="form-control mb-1" (ngModelChange)="handleChange($event, 'title')" formControlName="title"
                placeholder="Enter Title" />
            <span class="text-danger" for="error">{{errorObj.title}}</span>
        </div>
        <div class="mt-4">
        <input class="form-control mb-1" (ngModelChange)="handleChange($event, 'brand')" formControlName="brand"
            placeholder="Enter Brand" />
            <span class="text-danger" for="error">{{errorObj.brand}}</span>
        </div>
        <div class="mt-4">
            <input class="form-control mb-1" (ngModelChange)="handleChange($event, 'category')" formControlName="category"
            placeholder="Enter Category" />
            <span class="text-danger" for="error">{{errorObj.category}}</span>
        </div>
        <div class="mt-4">
            <input class="form-control mb-1" (ngModelChange)="handleChange($event, 'price')" formControlName="price"
            placeholder="Enter Price" />
            <span class="text-danger" for="error">{{errorObj.price}}</span>
        </div>
        <button class="btn btn-primary mt-4" type="submit">Submit</button>
    </form>
</div>