<!-- <app-blog [blog]="name" (data)="addItem($event)"></app-blog> -->

<div>

<a [routerLink]="['/']">
    Dashboard
</a>
</div>

<div>
	<a [routerLink]="['/xyz']">
		Go to xyz component
	</a>
</div>
<div>

<a [routerLink]="['/blog']">
    blog
</a>
</div>

