<!-- <p>Filter</p> -->
<div class=" mb-4">
    <div class="d-flex justify-content-end my-2">
        <div>{{servicesData ? "Mark": "user"}}</div>
    </div>
    <div class="d-flex justify-content-between">
        <!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
        <!-- <button (click)="createModal()">Delete me</button> -->
        <!-- <span>
        Total: {{ productList?.length ? productList?.length: 0 }} products available
    </span> -->
        <div class="d-flex">
            <input type="text" [ngModel]="searchKeyword" (ngModelChange)="handleSearchChange($event)"
                class="form-control" name="search" placeholder="Search" />
            <button type="button" (click)="handleSearch()" class="btn btn-info mx-2" style="height: 38px;"> Search
            </button>
        </div>
        <div>
            <select class="form-control" (change)="changeWebsite($event)">
                <option [ngValue]="null" selected disabled>Select Category</option>
                <option *ngFor="let web of categoryArray" [ngValue]="web.id">{{web.category}}</option>
            </select>
        </div>
        <a class="btn btn-primary text-white" [routerLink]="['/add-product']">
            Add product
        </a>
    </div>
</div>