<h3 class="text-center">Dashboard</h3>
<div class="">
    <div>
        <p *ngIf="!isLoggedIn" (click)="handleClick()" class="text-end">Login</p>
        <div *ngIf="isLoggedIn" class="text-end">
            <a class="btn btn-primary text-white" [routerLink]="['/account']">
                Go to account
            </a>
            <p (click)="handleClick()" >Log out</p>
        </div>
    </div>
    <app-slider class="" [productList]="products" (data)="filterProducts($event)"></app-slider>
    <table class="w-100 p-2">
        <thead class="bg-dark text-white">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let product of productsCopy | paginate: { itemsPerPage: 10, currentPage: currentPage }; index as i"> -->
            <tr *ngFor="let product of productsCopy; index as i">
                <td>
                    {{i + 1}}
                    <!-- {{product.id}} -->
                </td>
                <td>
                    {{product.title}}
                </td>
                <td>
                    {{product.brand}}
                </td>
                <td>
                    {{product.category }}
                </td>
                <td>
                    {{product.price}}
                </td>
                <td>
                    {{product.rating}}
                </td>
                <td>
                    <!-- <a [routerLink]="['/edit-product']" [queryParams]="{id: product.id}" fragment="id">
                        Edit
                    </a> -->
                    <button class="btn btn-danger mx-2" (click)="editForm(product)">
                        Edit
                    </button>
                    <button class="btn btn-danger mx-2" (click)="confirmationModal(product.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalProducts" [pageSize]="10" (page)="onPageChange($event)">
    </mat-paginator>
    <!-- <pagination-controls (pageChange)="onPageChange($event)" [id]="paginationId"></pagination-controls> -->
    <div class="text-center mt-3">{{productsCopy?.length == 0 ? "No data found" : ""}}</div>
</div>