<p>blog works!</p>
<p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>

<div>
	<a [routerLink]="['/xyz']">
		Go to xyz component
	</a>
</div>

<div [ngSwitch]="rowId">
	<ng-template ngSwitchDefault> 
		Please select
	</ng-template> 
	<ng-template [ngSwitchCase]="9976140"> 
		case matched with 1
	</ng-template>
	<ng-template ngSwitchCase="9629091"> 
		case matched with 2
	</ng-template>
  </div>


  <!-- <button igxButton="raised" 
        [igxToggleAction]="dropdown"
        [igxDropDownItemNavigation]="dropdown">
        Options
</button>
<igx-drop-down #dropdown>
    <igx-drop-down-item *ngFor="let item of items">
        {{ item.field }}
    </igx-drop-down-item>
</igx-drop-down> -->

<table class="table table-striped table-bordered ">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Country</th>
			<th scope="col">Area</th>
			<th scope="col">Population</th>
			<th scope="col">Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let country of countries; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" alt=""
					style="width: 20px" />
				{{ country.name }}
			</td>
			<td>{{ country.area }}</td>
			<td>{{ country.population }}</td>
			<td><button type="button" (click)="addNewItem(country)">Add to parent's list</button>
			</td>
		</tr>
	</tbody>

</table>