<p>account works!</p>
<mat-tab-group color="my-2" [selectedIndex]="selectedTab" (selectedTabChange)="handleTabChange($event)">
    <mat-tab label="Profile">
        <p>Mark</p>
        <p>mark@gmail.com</p>
    </mat-tab>
    <mat-tab label="Wallet">
        <p>Balance: 326</p>
    </mat-tab>
    <mat-tab label="Others">
        <p>Report</p>
    </mat-tab>
</mat-tab-group>